<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.DepartmentMapper">
    <resultMap id="Department" type="com.example.domain.Department">
        <result column="school_id" property="schoolId" />
    </resultMap>
    
    <select id="selectById" resultMap="Department">
        select * from department where id = #{id}
    </select>
    
    <select id="selectManyBySchoolId" resultMap="Department">
        SELECT * FROM department where school_id = #{schoolId}
    </select>

    <select id="selectManyBySchoolName" resultMap="Department">
        SELECT D.id AS id, D.name as name, D.descp as descp, D.school_id as school_id
        FROM department as D, school as S
        where D.school_id = S.id and S.name = #{schoolName}
    </select>

    <select id="selectBySchoolIdAndDepartmentName" resultMap="Department">
        SELECT * FROM department where school_id = #{schoolId} AND name = #{departmentName}
    </select>

    <select id="selectBySchoolNameAndDepartmentName" resultMap="Department">
        SELECT D.id AS id, D.name as name, D.descp as descp, D.school_id as school_id
        FROM department as D, school as S
        where D.school_id = S.id and S.name = #{schoolName} and D.name = #{departmentName}
    </select>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO department (name, descp, school_id)
    VALUES (#{name}, #{descp}, #{schoolId})
    </insert>

    <insert id="insertMany" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO department (name, descp, school_id)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.name}, #{item.descp}, #{item,schoolId})
        </foreach>
    </insert>
</mapper>